/** site.js 
 * You should add your CSS code to this file.  
 * See the assignment description in Guide for what
 * your code needs to accomplish.
 */

#stdDiv {
    
}

.stdItem {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    word-wrap: break-word;   
}

#banner {
    background-color: lightgray;
    min-height: 10px;
}

.stdItem div {
    border: 2px solid lightgray;
    padding: 5px;
}

.identifier {
    width: 10vw;
}

.statement {    
    width: 20vw;
}

.description {
    width: 30vw;
}

.subconcept {
    width: 10vw;
}

.practices {
    width: 20vw;
}

@media (min-width: 700px) {
    .expander {
        display: none;
        width: 0vw;
    }    
}

@media (max-width: 700px) {

    .stdItem {
        min-height: 50px;
    }

    .stdItem div {
        font-size: smaller;
    }
    #banner {
        display: none;
    }

    .identifier {
        background-color: lightgray;
        width: 20vw;
    }

    .statement {
        background-color: lightgray;
        width: 80vw;
    }

    .description {
        display: none;
    }

    .subconcept {
        display: none;
    }

    .practices {
        display: none;
    }

    .expander {
        width: 100vw;
    }

    .collapsible {
        width: 100vw;
        text-align: left;
        color: lightslategray;
        background-color: white;

    }

    .active {
        content: 'less...';
    }
}









